@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Kannada:wght@100..800&family=Madimi+One&display=swap');

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

/* header ////////////////////////////*/
.header-section{
    display: inline-flex;
    justify-content: space-between;
    z-index: 9;
    position: absolute;
    align-items: center;
    width: 100%;
    padding: 2.25rem;
}

.menu-list{
    display: flex;
    justify-content: space-between;
}

.menu{
    /*display: block;*/
}

.menu-list-item{
    padding: 35px;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 500;
    font-family: "Anek Kannada", sans-serif;
    color: aliceblue;
}

ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

.logo-name-p{
    font-size: 30px;
    font-weight: 800;
    color: azure;
    font-family: "Madimi One", sans-serif;
}

.log-btn{

}

/* end header */

.slider-video{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-section{
    height: 100%;
    overflow: hidden;
    z-index: -1;;

}
video {
    max-width: 100%;
    height: 100%;
    display: block;
}