@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Kannada:wght@100..800&family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

/* header ////////////////////////////*/
.header-section{
    display: inline-flex;
    justify-content: space-between;
    z-index: 9;
    position: absolute;
    align-items: center;
    width: 100%;
    padding: 20px;
    padding-top: 0%;
}

.menu-list{
    display: flex;
}

.menu-list-item{
    padding: 35px;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "Anek Kannada", sans-serif;
    color: aliceblue;
}

ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

.logo-name-p{
    font-size: 30px;
    font-weight: 800;
    color: azure;
    font-family: "Madimi One", sans-serif;
}

.log-in{
    color: white;
    font-size: 20px;
    border: 1px solid;
    border-radius: 20px;
    padding: 10px 30px;
    font-family: "Madimi One", sans-serif;
    /*font-family: "Anek Kannada", sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: 600;*/
}

.log-in:hover {
    background: inherit;
    color: rgb(237, 188, 124);
    border-color: goldenrod;
    border: 2px solid;
}

/* end header ////////////////////////// */

/* video//////////////////////////// */
.slider-video{
    position: absolute;
    top: 0%;
    /*left: 0%;*/
    width: 100%;
    /*height: 100%;*/
    object-fit: cover;
    opacity: 0.9;
}
.slider-section{
    height: 100vh; /* Ensure full screen */
    overflow: hidden;
    z-index: -1;
    align-items: center;
    display: inline-block;

}
video {
    max-width: 100%;
    height: 100%;
    /*display: block;*/
}

/* end video////////////////////// */

/* head-text///////////////////// */

.head-text {
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
    opacity: 1;
    color: white;
    text-align: left;
    padding: 10px 20px; 

}

.head-text h1{
    font-size: 40px;
    font-family: "Madimi One", sans-serif;
}

h4{
    font-size: 30px; 
    margin-top: 10px;
    text-align: left;
    text-wrap: wrap; 
    width: 500px;
}

.ul-link{
    display: flex;
    gap: 50px;
    margin-top: 20px;
    text-decoration: underline;
    font-size: 20px;
}
/* end head-text////////////////////////// */

/* site motto */
.site-motto{
    padding: 1.5rem;
    display: block;
    text-align: center;
    text-wrap: wrap;
    font-family:"Rethink Sans", sans-serif;
}

.site-motto h5{
    font-size: 18px;
    margin-bottom: 10px;
}

.site-motto a{
    text-decoration: underline;
}
/* end site motto */

/* new collection */
.New-collection{
    margin: 0 10%;
    align-items: center;
    align-content: center;
    max-width: 1440px;
}
.New-collection p {
    display: block;
    text-align: center;
    font-size: 42px;
    font-weight: 400;
    line-height: 50px;
}
.new-collection{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    margin: 0 auto;
}

.coll-type{
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    min-height: 630px;
    position: relative;
    transition: all .3s ease-in-out;
    width: 100%;
}

.coll-type:first-child{
    background-image: url('../assets/images/pexels-andrea-piacquadio-842811.jpg');
}

.coll-type:nth-child(2){
    background-image: url('../assets/images/pexels-konstantin-mishchenko-1926769.jpg');
}

.coll-type:nth-child(3){
    background-image: url('../assets/images/pexels-ron-lach-9256867.jpg');
}

.coll-type:nth-child(4){
    background-image: url('../assets/images/pexels-arif-khan-17298688.jpg');
}